@model AspLesson8._1.Models.Client
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Регестрація</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <form asp-action="Consultation">
        <div class="form_group">
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form_group">
            <label asp-for="SurName"></label>
            <input asp-for="SurName" />
            <span asp-validation-for="SurName"></span>
        </div>
        <div class="form_group">
            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form_group">
            <label asp-for="DateOfVisit"></label>
            <input asp-for="DateOfVisit" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="DateOfVisit"></span>
        </div>
        <div class="form_group">
            <select asp-for="Course" asp-items="@ViewBag.Selects" ></select>
        </div>
        <div class="form_group">
            <input type="submit" value="Записатись" />
        </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>